/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
.button-type {
  margin: 10px auto;
  height: 150px;
  width: 600px;
  position: relative;
  float: none;
}

.bg-blue{
  background-color: #blue;
}

.hide{
  display:none;
}
.unhide{
  display:block;
}

table, td, th {
	  border-collapse:collapse;
      border: 15px solid #49AAE8;
}

td, th{
	height: 50px;
	width: 50px;
}

th{
  width: 0; 
  height: 0; 
  
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #49AAE8;
}

span{
	font-size:50px;
	height:100%;
	width:100%;
}
.game-node {
	height: 100%;
	width: 100%;
}   
.game-node-header{
}

.container{
	height:600px!important;
	width: 100%;
	background:#8A76E8;
	border:1px solid black;
}

.bg-red{
	background-color: red;
}

.bg-purple{
	background-color: purple;
}


.bg-green{
	background-color: green;
}

.bg-white{
	background-color: white;
	
}

.msg-red{
	color: red;
}

.msg-white{
	color: white;
}

.msg-black{
	color: black;
}

.msg-purple{
	color: purple;
}

.msg-green{
	color: green;
}

.center-label{
	color: white;
	position: relative;
	margin: 0px 30px auto;
	top: 15px;
	font-size: 70px;
	font-family: monospace;
}

#rules{
	/* position: relative; */
	/* margin: 0 auto; */
	/* width: 500px; */
	margin: 30px auto;
	width: 300px;
	border: 3px solid #49AAE8;
	padding: 10px;
	background-color: #49AAE8;
	color: white;
}

#rules label{
	font-size: 20px;
	font-family: monospace;
}
#rules select{
	width: 50px;
	float: right;
}

#message{
	font-size: 20px;
	font-family: monospace;
	font-weight: bold;
	margin: 0 auto;
	width: 300px;
	
}

#defaultCheck{
	float:right;
	width:100px;
	color:white;
}

#mpButton, #spButton{
	background-color:#49AAE8;
}

#mpButton:hover, #spButton:hover{
	background-color:#7BFFFF;
}

table{
	margin: auto;
}

span, label{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}
}

